body {
  margin: 0;
  line-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  margin: 0px;
  font-weight: inherit;
}

ol,
ul,
menu {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}