.wrapper {
  min-height: 100vh;
}

.menu {
  justify-content: center;
}

.footer {
  text-align: center;
}

.demo-logo {
  width: 120px;
  min-width: 120px;
  height: 32px;
  background: rgba(255,255,255,.2);
  border-radius: 6px;
  margin-inline-end: 24px;
}